<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <title>Home</title>

</head>

<body>
  <nav id="n1" class="navbar navbar-expand-lg navbar-light mb-3 navbar-fixed-top nav white">
    <a class="navbar-brand" href="#">PhiloMath</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link a1" href="{{ url_for('home_bp.login') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a1" href="#features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a1" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="main blue">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7 col-md-12 col-11 d-flex justify-content-around align-items-center" id="leftsection">
          <img src="{{ url_for('static', filename='images/teaching-animate.svg') }}">
        </div>
        <div class="col-lg-5 col-md-12 col-11" id="rightsection">
          <h1>All you need is a Tutor. PhiloMath - The Ultimate Tutoring System</h1>
          <a href="{{ url_for('home_bp.signup') }}"><button type="button" class="btn signup white" style="font-size: 1.5rem;">Sign Up Now</button></a>
          <a href="{{ url_for('home_bp.login') }}"><button type="button" class="btn signup white" style="font-size: 1.5rem;">Login </button></a>
        </div>
      </div>
    </div>
  </div>


  <section class="sec white" id="features">
    <h1 style="text-align: center;font-size: 3.8rem;text-decoration: underline;padding: 10px 0;">Our Features</h1>
    <div class="container-fluid" style="width:80%;">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-11">
          <div class="card grey-light">
            <h5 class="card-title" style="text-align: center;font-size: 3rem;">Personalized Learning</h5>
            <img src="../static/images/Mathematics-bro.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text" style="font-size: 1.7rem;text-align: justify;">Students practice at their own pace,getting clear understanding of concepts.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-11">
          <div class="card grey-light">
            <h5 class="card-title" style="text-align: center;font-size: 3rem;">User-Friendly Interface</h5>
            <img src="../static/images/Online test-amico.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text" style="font-size: 1.7rem;text-align: justify;">Simple & straight forward interface enabling users to built instant connect with system</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-11">
          <div class="card grey-light">
            <h5 class="card-title" style="text-align: center;font-size: 3rem;">Anywhere Accessibility</h5>
            <img src="../static/images/User-friendly.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text" style="font-size: 1.7rem;text-align: justify;">Practice questions using any devices from anywhere.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <footer class="page-footer font-small blue pt-4">
    <div class="footer-copyright text-center py-3">
      <a href="https://storyset.com/" style="color: white;">Illustrations by Storyset</a>
    </div>
  </footer>
  </div>
  </div>
  </div>
  </div>
</body>

</html>
