<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <title>Profile</title>
    <style>
      .chartdiv {
        width: 100%;
        height: 500px;
      }
      .profile{
        margin-top: 80px;
      }

      </style>

</head>
<body>
  <nav id="n1" class="navbar navbar-expand-lg navbar-light mb-3 navbar-fixed-top nav white">
		<a class="navbar-brand" href="#">Logo PhiloMath</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link a1" href="{{ url_for('home_bp.home') }}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link a1" href="{{ url_for('home_bp.profile') }}">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link a1" href="/logout">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
    <div class="container profile">
        <div class="main-body">
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card" style="height: 351px;">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                          <h4 style="text-transform:capitalize;">{{context.fname}} {{context.lname}}</h4>
                          <p class="text-secondary mb-1">Grade {{context.grade}}</p>
                          <p class="text-muted font-size-sm">School name</p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0" >Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary" style="text-transform: capitalize;">
                          {{ context.fname }}  {{context.lname }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{context.email}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">School Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          D.J.Sanghvi
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">

                          <h6 class="mb-0">Grade</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{context.grade}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">D.O.B</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          {{context.dob}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-12">
                          <a class="btn btn-info "  href="{{ url_for('home_bp.EditUserScore') }}">Edit</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row gutters-sm">


                  </div>



                </div>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <div class="card h-100">
                        <h1 class="card-title">Algebra</h1>
                        <div class="card-body">

                          <div id='myDiv2'><!-- Plotly chart will be drawn inside this DIV --></div>


                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <div class="card h-100">
                        <h1 class="card-title">Fraction</h1>
                        <div class="card-body">


                          <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>


                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <h6 class="d-flex align-items-center mb-3 "><i class="material-icons text-info mr-2"></i>Algebra</h6>
                      {% for key,value in algebra.items() %}
                      <small>{{key}}</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{value}}%" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                        {% endfor %}
                    </div>
                    <div class="col-sm-6">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2"></i>Fraction</h6>
                      {% for key,value in fraction.items() %}
                      <small>{{key}}</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{value}}%" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                        {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

            </div>
        </div>


        <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src='https://cdn.plot.ly/plotly-2.3.1.min.js'></script>


<!-- Chart code -->
<script src='https://cdn.plot.ly/plotly-2.3.1.min.js'></script>
<script>
  var fraction = [{
  values: ["{{context2.FE}}",4-"{{context2.FE}}","{{context2.FI}}",5-"{{context2.FI}}"],
  labels: ['Easy','Easy Incomplete', 'Intermediate','Indermediate InComplete'],
  type: 'pie'
}];

var algebra = [{
  values: ["{{context2.AE}}",4-"{{context2.AE}}","{{context2.AI}}",2-"{{context2.AI}}"],
  labels: ['Easy','Easy Incomplete', 'Intermediate','Indermediate InComplete'],
  type: 'pie'
}];

var layout = {
  height: 400,
  width: 500
};

Plotly.newPlot('myDiv', fraction, layout);

Plotly.newPlot('myDiv2', algebra, layout);

</script>

</body>
</html>
