{% extends "layout_easy.html" %}

{% block script %}
var x = document.getElementsByClassName("correct");
var y = document.getElementsByClassName("wrong");
var ans=["{{ easy.ans_num[0] }}","{{ easy.ans_den[0] }}","{{ easy.ans_num[1] }}","{{ easy.ans_den[1] }}"]
console.log(ans)
function checkQuo(i){
if(document.getElementsByTagName("input")[i].value == ans[i]){
$(x[i]).show();
$(y[i]).hide();
document.getElementsByClassName("step0")[i].classList.add("active");
}
else{
if(document.getElementsByTagName("input")[i].value != ""){
$(x[i]).hide();
$(y[i]).show();
document.getElementsByTagName("input")[i].value = "";
swal("Oops!", "Checkout hint for help", "error");
}
}
}

function checkRem(i){
if(document.getElementsByTagName("input")[i].value == ans[i]){
$(x[i]).show();
$(y[i]).hide();
document.getElementsByClassName("step0")[i].classList.add("active");
}
else{
if(document.getElementsByTagName("input")[i].value != ""){
$(x[i]).hide();
$(y[i]).show();
document.getElementsByTagName("input")[i].value = "";
swal("Oops!", "Checkout hint for help", "error");
}
}
}

window.onload = function(){
var source = "{{ url_for('static', filename = 'images/frac_add_like.png') }}";
if({{ easy.num }} == '2'){
source = "{{ url_for('static', filename = 'images/frac_mul_by_whole.png') }}";
}
$("#hint_img").attr("src", source);
}


{% endblock %}
{% block chapter%}Fraction{% endblock %}
{% block topic %}{{ easy.topic }}{% endblock %}
{% block content %}
{% for i in range(0,3,2) %}
<h5 class="card-title">{{easy.q[i]}}</h5>
{{ easy.label1 }}: <input type="text" id="quo" onchange="checkQuo({{ i }});">
<i class="fal fa-check correct fa-2x" style="display: none; color: green;"></i>
<i class="fal fa-times wrong fa-2x" style="display: none; color: red"></i>
<br><br>
{{ easy.label2 }}: <input type="text" id="rem" onchange="checkRem({{ i+1 }});">
<i class="fal fa-check correct fa-2x" style="display: none; color: green;"></i>
<i class="fal fa-times wrong fa-2x" style="display: none; color: red"></i>
<br><br>
{% endfor %}
{% endblock %}

{% block hint %}
<img src="" alt="" style="width:80%;" id="hint_img">
{% endblock %}
