{% extends "layout.html" %}
{% block style %}

.quo {
display: inline;
height: calc(1.5em + .75rem + -6px);
}

#error {
border:2pt solid red;
}

#right {
border:2pt solid green
}

.project {
width: 400px;
margin-bottom: 1em;
}
.project > div {
display: inline-block;
margin: 0 -5px 0 0;
vertical-align: middle;
}
h2{
padding:17px;
}
.task {
width: 42rem;
height: 7rem;
border: .4em solid #E4E4E7;
background: #E4E4E7;
border-radius: 100%;
}
.progress {
width: calc( 50% - 3em);
height: .6em;
padding: .2em 0;
background: #E4E4E7;
position: relative;
}
.progress div {
height: .2em;
left: -.4em;
right: -.4em;
position: absolute;
}
.pending { background: #F8AC59; }
.running { background: #1C84C6; }
.passed { background: #1AB394; }
.failed { background: #ED5565; }
{% endblock %}


{% block script %}
var x = document.getElementsByClassName("correct");
var y = document.getElementsByClassName("wrong");

var feedcount = 0;
var wronghint = 0;

function check0()
{
if(document.getElementsByTagName("input")[0].value == {{ answer.num1 }} )
{
$(x[0]).show();
$(y[0]).hide();
}
else
{
if(document.getElementsByTagName("input")[0].value!=""){
feedcount++;
$(x[0]).hide();
$(y[0]).show();
document.getElementsByTagName("input")[0].value = "";
swal(
{
title: "Oops, Looks like you are not familiar with Cross Multiplication Format .",
text: "for example, Here Num of first Fraction.",
icon: "error",
button: true,
dangerMode: true,
}
)
.then((willDelete) => {
if (willDelete) {
swal("Now, try again", {

icon: "success",
});
}
});
}

}
}

function check1()
{
if(document.getElementsByTagName("input")[1].value == {{ answer.den2 }} )
{
$(x[0]).show();
$(y[0]).hide();
}
else
{
if(document.getElementsByTagName("input")[1].value!=""){
feedcount++;
$(x[0]).hide();
$(y[0]).show();
document.getElementsByTagName("input")[1].value = "";
swal(
{
title: "Oops, Looks like you are not familiar with Cross Multiplication Format .",
text: "for example, Here Den of second Fraction.",
icon: "error",
button: true,
dangerMode: true,
}
)
.then((willDelete) => {
if (willDelete) {
swal("Now, try again", {

icon: "success",
});
}
});
}
}
}

function check2()
{
if(document.getElementsByTagName("input")[2].value == {{ answer.num2 }} )
{
$(x[0]).show();
$(y[0]).hide();
}
else
{
if(document.getElementsByTagName("input")[2].value!=""){
feedcount++;
$(x[0]).hide();
$(y[0]).show();
document.getElementsByTagName("input")[2].value = "";
swal(
{
title: "Oops, Looks like you are not familiar with Cross Multiplication Format .",
text: "for example, Here Num of second fraction .",
icon: "error",
button: true,
dangerMode: true,
}
)
.then((willDelete) => {
if (willDelete) {
swal("Now, try again", {

icon: "success",
});
}
});
}
}
}

function check3()
{
if(document.getElementsByTagName("input")[3].value == {{ answer.den1 }} )
{
$(x[0]).show();
$(y[0]).hide();
}
else
{
if(document.getElementsByTagName("input")[3].value!=""){
feedcount++;
$(x[0]).hide();
$(y[0]).show();
document.getElementsByTagName("input")[3].value = "";
swal(
{
title: "Oops, Looks like you are not familiar with Cross Multiplication Format . ",
text: "for example, Here Den of first Fraction.",
icon: "error",
button: true,
dangerMode: true,
}
)
.then((willDelete) => {
if (willDelete) {
swal("Now, try again", {

icon: "success",
});
}
});
}
}
}

function check4()
{
if(document.getElementsByTagName("input")[4].value == {{ answer.den1 }} )
{
$(x[1]).show();
$(y[1]).hide();
}
else
{
if(document.getElementsByTagName("input")[4].value!=""){
feedcount++;
$(x[1]).hide();
$(y[1]).show();
document.getElementsByTagName("input")[4].value = "";
swal(
{
title: "Oops, Looks like you are not familiar with Cross Multiplication Format .",
text: "for example, Here Den of first fraction.",
icon: "error",
button: true,
dangerMode: true,
}
)
.then((willDelete) => {
if (willDelete) {
swal("Now, try again", {

icon: "success",
});
}
});
}
}
}

function check5()
{
if(document.getElementsByTagName("input")[5].value == {{ answer.den2 }} )
{
document.getElementsByClassName("step0")[0].classList.add("active");
$(x[1]).show();
$(y[1]).hide();
$(x[6]).css("display","block");
document.getElementsByTagName("h2")[0].innerHTML="";
document.getElementById("icon1").style.display="inline";
$(y[0]).hide();
}
else
{
if(document.getElementsByTagName("input")[5].value!=""){
feedcount++;
$(x[1]).hide();
$(y[1]).show();
document.getElementsByTagName("input")[5].value = "";
swal(
{
title: "Oops, Looks like you are not familiar with Cross Multiplication Format . ",
text: "for example, Here Den of second fraction . ",
icon: "error",
button: true,
dangerMode: true,
}
)
.then((willDelete) => {
if (willDelete) {
swal("Now, try again", {

icon: "success",
});
}
});
}
}
}

function check6()
{
if(document.getElementsByTagName("input")[6].value == {{ answer.num }} )
{
$(x[2]).show();
$(y[2]).hide();
}
else
{
if(document.getElementsByTagName("input")[6].value!=""){
feedcount++;
$(x[2]).hide();
$(y[2]).show();
document.getElementsByTagName("input")[6].value = "";
swal(
{
title: "Oops, Looks like you are not familiar with Cross Multiplication Format . ",
text: "for example, Here the result of Num will come.",
icon: "error",
button: true,
dangerMode: true,
}
)
.then((willDelete) => {
if (willDelete) {
swal("Now, try again", {

icon: "success",
});
}
});
}
}
}

function check7()
{
if(document.getElementsByTagName("input")[7].value == {{ answer.den }} )
{
document.getElementsByClassName("step0")[1].classList.add("active");
$(x[3]).show();
$(y[3]).hide();
$(x[7]).css("display","block");
document.getElementsByTagName("h2")[1].innerHTML="";
document.getElementById("icon2").style.display="inline";
$(y[0]).hide();


}
else
{
if(document.getElementsByTagName("input")[7].value!=""){
feedcount++;
$(x[3]).hide();
$(y[3]).show();
document.getElementsByTagName("input")[7].value = "";
swal(
{
title: "Oops, Looks like you are not familiar with Cross Multiplication Format . ",
text: "for example, Here Result of Den will come .",
icon: "error",
button: true,
dangerMode: true,
}
)
.then((willDelete) => {
if (willDelete) {
swal("Now, try again", {

icon: "success",
});
}
});
}
}
}

function check8()
{
if(document.getElementsByTagName("input")[8].value == {{ answer.num_ans }} )
{
$(x[4]).show();
$(y[4]).hide();
}
else
{
if(document.getElementsByTagName("input")[8].value!=""){
feedcount++;
$(x[4]).hide();
$(y[4]).show();
document.getElementsByTagName("input")[8].value = "";
swal(
{
title: "Oops, Looks like you are not familiar with Cross Multiplication Format . ",
text: "for example, Here Simplified result of Num will come.",
icon: "error",
button: true,
dangerMode: true,
}
)
.then((willDelete) => {
if (willDelete) {
swal("Now, try again", {

icon: "success",
});
}
});
}

}
}

function check9()
{
if(document.getElementsByTagName("input")[9].value == {{ answer.den_ans }} )
{
$(x[5]).show();
$(y[5]).hide();
document.getElementsByClassName("step0")[0].classList.add("active");
document.getElementsByClassName("step0")[1].classList.add("active");
document.getElementsByClassName("step0")[2].classList.add("active");
document.getElementById("icon4").style.display="inline";
document.getElementById("icon4").style.color="green";
document.getElementsByTagName("h2")[0].innerHTML="";
document.getElementsByTagName("h2")[1].innerHTML="";
document.getElementById("icon1").style.display="inline";
document.getElementById("icon2").style.display="inline";
document.getElementById("icon3").style.display="inline";


}
else
{
if(document.getElementsByTagName("input")[9].value!=""){
feedcount++;
$(x[5]).hide();
$(y[5]).show();
document.getElementsByTagName("input")[9].value = "";
swal(
{
title: "Oops, Looks like you are not familiar with Cross Multiplication Format . ",
text: "for example, Here Simplified result of Den will come ..",
icon: "error",
button: true,
dangerMode: true,
}
)
.then((willDelete) => {
if (willDelete) {
swal("Now, try again", {

icon: "success",
});
}
});
}

}
}

function right1(){
if(document.getElementById("btn1").innerHTML==="Cross Multiply"){
$("#myModal").modal('hide');
document.getElementsByClassName('line1')[0].style.display = 'block';
document.getElementById("btn1").innerHTML="Find LCM of Denominator";
document.getElementById("btn2").innerHTML="Find Simplest form";
document.getElementById("btn3").innerHTML="Evaluate Numerator and Denominator";
document.getElementById("btn4").innerHTML="Add both the Denominator";
}else{
  wronghint++;
}
}
function right2(){
if(document.getElementById("btn3").innerHTML==="Evaluate Numerator and Denominator"){
$("#myModal").modal('hide');
document.getElementById("hint-btn").disabled = true;
document.getElementById("hint-btn").style.backgroundColor = "grey";
document.getElementsByClassName('line1')[1].style.display = 'block';
}else{
  wronghint++;
}

}

function wrong(){
  wronghint++;
}


{% endblock %}
{% block chapter %}Fraction{% endblock %}
{% block topic %}Fraction Operation{% endblock %}



{% block hint %}
<button class="btn btn-info" id="btn1" style="width: 100%; margin: 10px auto;" onclick="right1();">Cross Multiply</button>
<button class="btn btn-info" id="btn2" style="width: 100%; margin: 10px auto;" onclick="wrong();">Find LCM</button>
<button class="btn btn-info" id="btn3" style="width: 100%; margin: 10px auto;" onclick="right2();">Add/Subtract Numerator</button>
<button class="btn btn-info" id="btn4" style="width: 100%; margin: 10px auto;" onclick="wrong();">Add/Subtract Denominator</button>
{% endblock %}

{% block content %}
<h5 class="card-title">{{ answer.que }}</h5>


<div class="line1" style="display: none;">
  <div>
    (<input type="text" class="quo" name="quo" maxlength="3" size="3" onblur="check0();"> x
    <input type="text" class="quo" name="quo" maxlength="3" size="3" onblur="check1();">) {{answer.opsign}}
    (<input type="text" class="quo" name="quo" maxlength="3" size="3" onblur="check2();"> x
    <input type="text" class="quo" name="quo" maxlength="3" size="3" onblur="check3();">)
    <i class="fal fa-check correct fa-2x" style="display: none; color: green;"></i>
    <i class="fal fa-times wrong fa-2x" style="display: none; color: red"></i>

  </div>
  <h5>----------------------------------</h5>
  <div>
    (<input type="text" class="quo" name="quo" maxlength="3" size="3" onblur="check4();"> x
    <input type="text" class="quo" name="quo" maxlength="3" size="3" onblur="check5();">)
    <i class="fal fa-check correct fa-2x" style="display: none; color: green;"></i>
    <i class="fal fa-times wrong fa-2x" style="display: none; color: red"></i>

  </div>
  <br>
</div>
<div class="line1" style="display: none;">
  <label for="spf" class="fbox"> Ans : </label>
  <div>
    <input type="text" id="spf" name="rem" maxlength="8" size="2" class="quo " onblur="check6();">
    <i class="fal fa-check correct fa-2x" style="display: none; color: green;"></i>
    <i class="fal fa-times wrong fa-2x" style="display: none; color: red"></i>

  </div>
  <h5>-------</h5>
  <div>
    <input type="text" name="rem" maxlength="8" size="2" class="quo fbox" onblur="check7();">
    <i class="fal fa-check correct fa-2x" style="display: none; color: green;"></i>
    <i class="fal fa-times wrong fa-2x" style="display: none; color: red"></i>

  </div>
  <br>

</div>

<label for="quo3" style="display:block">Solution : </label>
<input type="text" id="quo3" name="rem" maxlength="8" size="2" class="quo" onblur="check8();" required>
<i class="fal fa-check correct fa-2x" style="display: none; color: green;"></i>
<i class="fal fa-times wrong fa-2x" style="display: none; color: red"></i>

<h5>-------</h5>
<input type="text" id="rem4" name="rem" maxlength="8" size="2" class="quo" onblur="check9();" required>
<i class="fal fa-check correct fa-2x" style="display: none; color: green;"></i>
<i class="fal fa-times wrong fa-2x" style="display: none; color: red"></i>

<br>
{% endblock %}
