*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		#n1{
			width: 100vw;
			height: 100px;
			background-color: rgba(0,0,0);
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
		#d1 {
			width:60%;
		}
		#n1 #d1 h1{
			text-decoration: underline;
			font-style: italic;
			font-size: 40px;
			animation: clrs 2s linear infinite;
			padding-left: 50%;
		}
		#n1 #d2{
			width: 40%;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}
		a{
			color: violet;
			text-decoration: none;
			font-size: 24px;
			font-style: italic;
			position: relative;

		}
		a:before{
			content: "";
			position: absolute;
			top: 100%;
			left: 0;
			width: 0;
			height: 3px;
			transition: all 0.5s linear;
		}
		a:hover:before{
			width: 100%;
			background-color: purple;
		}
		@keyframes clrs{
			0%{
				color:red;
			}
			50%{
				color:purple;
			}
			100%{
				color:yellow;
			}
		}
		#n2{
			width: 100vw;
			height: 50vh;
			background-image: linear-gradient(to right,rgba(135,206,250,0.9) 50%,blue 50%);
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
		#n2 #d3{
			width: 50%;
			display: flex;
			justify-content: space-around;
			align-items: center;

		}
		#n2 #d3 h1{
			text-decoration: underline;
			font-size: 72px;
			color: black;
		}
		#n2 #d4{
			width: 50%;
		}
		#n2 #d4 p{
			text-align: justify;
			font-size: 30px;
			color: white;
		}
		#n3{
			width: 100vw;
			height: 50vh;
			background-image: linear-gradient(to left,rgba(135,206,250,0.9) 50%,blue 50%);
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
		#n3 #d5{
			width: 50%;
			display: flex;
			justify-content: space-around;
			align-items: center;

		}
		#n3 #d5 h1{
			text-decoration: underline;
			font-size: 72px;
			color: white;
		}
		#n3 #d6{
			width: 50%;
		}
		#n3 #d6 p{
			text-align: justify;
			font-size: 30px;
			color: black;
		}