
.nav{
        height : 100%;
        width : 0;
        position : fixed;
        z-index : 1;
        top : 0;
        left : 0;
        background-color : #111;
        opacity : .9;
        overflow-x : hidden;
        padding-top : 60px;
        transition : .7s;
    }

    .nav a{
        display:block;
        padding : 20px 30px;
        font-size : 30px;
        text-decoration : none;
        color : #ccc;
    }

    .nav a:hover{
        color : #fff;
        transition:.4s;
    }

    .nav .close{
        position:absolute;
        top:0;
        right:22px;
        margin-left : 50px;
    }

    .slide a{
        color : #000;
    }

    #content {
        padding:20px;
        transition : margin-left .7s;
        overflow : hidden;
        width : 100%;
    }
        *{
        margin:0;
        padding:0;
        box-sizing:border-box;
        }
        .n1{
        width:100vw;
        height:10vh;
        background-image:linear-gradient(to top,#c3f5ff 80%, white 20%);
        display:flex;
        justify-content:space-around;
        align-items:center;
        }
        .title{
        width:40%;
        }
        .title h1{
        padding:18%;
        color:#0984e3;
        letter-spacing:1px;
        text-transform:uppercase;
        text-decoration:underline;
        animation:anm 2s linear infinite;
        animation-direction:alternate;
        }
        @keyframes anm{
        from{padding-left:40%;}
        to{padding-right:40%;}
        }
        .menu{
        width:60%;
        padding-left:55px;
        display:flex;
        justify-content:space-around;
        align-items:center;
        }
        .menu a{
        text-decoration:none;
        color:black;
        font-size:50px;
        position:relative;
        font-weight:bold;
        text-transform:uppercase;
        }
        .menu a:before{
        content:"";
        position:absolute;
        top:100%;
        left:0%;
        height:3px;
        width:0;
        background-color:black;
        transition:all 0.5s linear;
        }
        .menu a:hover:before{
        width:100%;
        background-color:blue;
        }
        .correct{
        display:none;
        }
        .wrong{
        display:none;
        }
        #countvalue{
        display:none;
        }
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

body {
    font-size : 1rem;
}