{% extends "layout_new_easy.html" %}
<!-- {% block title %}Algebra {% endblock %} -->
{% block script %}
window.onload = function(){
    monobitri = ["","Monomial", "Binomial", "Trinomial"];
    likeunlike = ["", "Like", "Unlike"];
    if({{ contexts.num }} == '2'){ monobitri = likeunlike; }
    var select = document.getElementsByClassName("answer_options");
    for(var j = 0; j < 4; j++){
    for(var i = 0; i < monobitri.length; i++){
         var el = document.createElement("option");
            el.textContent = monobitri[i];
            el.value = monobitri[i];
            select[j].appendChild(el);
        }
    }

}
var ans = [ "{{ contexts.answer[0] }}", "{{ contexts.answer[1] }}", "{{ contexts.answer[2] }}", "{{ contexts.answer[3] }}" ];
console.log(ans);
function check(i){

console.log(document.getElementsByTagName("select")[i].value);
console.log({{ contexts.answer[i] }});
        if(document.getElementsByTagName("select")[i].value == ans[i])
	{
	    alert("Correct");
        document.getElementsByClassName("step0")[i].classList.add("active");
    }
        else{
            if({{ contexts.num }} == '1'){
                alert("An expression which contains two unlike terms is called a binomial. Similarly, think of monomial and trinomial.");
            }
            else if({{ contexts.num}} == '2'){
                alert("When term have the same algebraic factors, they are like terms.");
            }
        }
    }
{% endblock %}
{% block content %}
<div>{{ contexts.question }}</div>
<p>
{% for i in range(4) %}
  <div>{{ contexts.options[i] }}
  <select class="answer_options" onchange="check({{ i }});" style="min-width: 120px;">

  </select>
  <br/><br/>
  </div>
{% endfor %}
</p>

{% endblock %}