{% extends "layout_new_easy.html" %}
<!-- {% block title %}Algebra {% endblock %} -->
{% block script %}
window.onload = function(){
    monobitri = ["","Monomial", "Binomial", "Trinomial"];
    likeunlike = ["", "Like", "Unlike"];
    var source = "{{ url_for('static', filename = 'images/mono_bio_trio.png') }}";
    if({{ easy.num }} == '2'){ 
        monobitri = likeunlike; 
        source = "{{ url_for('static', filename = 'images/like_unlike.png') }}";
    }
    $("#hint_img").attr("src", source);
    var select = document.getElementsByClassName("answer_options");
    for(var j = 0; j < 4; j++){
    for(var i = 0; i < monobitri.length; i++){
         var el = document.createElement("option");
            el.textContent = monobitri[i];
            el.value = monobitri[i];
            select[j].appendChild(el);
        }
    }

}
var ans = [ "{{ easy.answer[0] }}", "{{ easy.answer[1] }}", "{{ easy.answer[2] }}", "{{ easy.answer[3] }}" ];
console.log(ans);
function check(i){

console.log(document.getElementsByTagName("select")[i].value);
console.log({{ easy.answer[i] }});
        if(document.getElementsByTagName("select")[i].value == ans[i])
	{
        document.getElementsByClassName("correct")[i].style.display="inline";
        document.getElementsByClassName("wrong")[i].style.display="none";
        document.getElementsByClassName("step0")[i].classList.add("active");
    }
        else{
            if({{ easy.num }} == '1'){
                <!-- alert("An expression which contains two unlike terms is called a binomial. Similarly, think of monomial and trinomial."); -->
                document.getElementsByClassName("wrong")[i].style.display="inline";
                document.getElementsByClassName("correct")[i].style.display="none";
            }
            else if({{ easy.num}} == '2'){
                document.getElementsByClassName("wrong")[i].style.display="inline";
                document.getElementsByClassName("correct")[i].style.display="none";
                <!-- alert("When term have the same algebraic factors, they are like terms."); -->
            }
        }
    }
{% endblock %}

{% block chapter %}Algebra{% endblock %}
{% block topic %}{{ easy.topic }}{% endblock %}


{% block content %}
<div>{{ easy.question }}</div>
<p>
{% for i in range(4) %}
  <div>{{ easy.options[i] }}
  <select class="answer_options" onchange="check({{ i }});" style="min-width: 120px;">

  </select>
  <i class="fal fa-check correct fa-2x" style="display: none; color: green;"></i>
  <i class="fal fa-times wrong fa-2x" style="display: none; color: red"></i><br><br>
  <!-- <br/><br/> -->
  </div>
{% endfor %}
</p>

{% endblock %}

{% block hint %}
    <img src="" alt="" id="hint_img" style="width: 80%;">
{% endblock %}