{% extends "layout.html" %}
{% block title %}Algebra {% endblock %}


{% block script %}
var ans = [ "{{ easy.answer[0] }}", "{{ easy.answer[1] }}", "{{ easy.answer[2] }}", "{{ easy.answer[3] }}" ];
console.log(ans);
function check(i){

console.log(document.getElementsByTagName("input")[i].value);
<!-- console.log({{ easy.answer[i] }}); -->
    if(document.getElementsByTagName("input")[i].value == ans[i])
	{
	    alert("Correct");
    }
    else{
        if({{ easy.num }} == '1'){
            alert("A coefficient is a number used to multiply a variable");
        }
        else{
            alert("Simply substitue value of p");
        }
        <!-- alert("Incorrect"); -->
    }
}


{% endblock %}




{% block content %}
<div>{{ easy.question }}</div>
<p>
{% for i in range(4) %}
  <div>{{ easy.options[i] }}
  <input type="text" onchange="check({{ i }});">
  </div>
{% endfor %}
</p>

{% endblock %}