{% extends "layout_new_easy.html" %}


{% block script %}
var ans = [ "{{ easy.answer[0] }}", "{{ easy.answer[1] }}", "{{ easy.answer[2] }}", "{{ easy.answer[3] }}" ];
console.log(ans);
function check(i){

console.log(document.getElementsByTagName("input")[i].value);
<!-- console.log({{ easy.answer[i] }}); -->
    if(document.getElementsByTagName("input")[i].value == ans[i])
	{
	    alert("Correct");
        document.getElementsByClassName("step0")[i].classList.add("active");
    }
    else{
        if({{ easy.num }} == '1'){
            alert("A coefficient is a number used to multiply a variable");
        }
        else{
            alert("Simply substitue value of p");
        }
        <!-- alert("Incorrect"); -->
    }
}


{% endblock %}
{% block chapter %}Algebra{% endblock %} 
{% block topic %}{{ easy.topic }}{% endblock %}



{% block content %}
<h5 class="card-title">{{ easy.question }}</h5>
<p>
{% for i in range(4) %}
  <div>{{ easy.options[i] }}
  <input type="text" onchange="check({{ i }});"> <br><br>
  </div>
{% endfor %}
</p>
{% endblock %}

{% block hint %}
<img src="{{ url_for('static', filename = 'images/algebra_terms.jpeg') }}" alt="" style = "width:80%;">


{% endblock %}