{% extends 'qts_design_layout.html' %}

{% block message %} 
    <div class="container">
        <div class="jumbotron jumbotron-fluid" style=" padding-top: 25px ;padding-bottom: 15px;background-color:navy;">
            <div class="container" style="color: white;">
              <h2 class="display-4">{{unit}}</h2>
            </div>
        </div>

        <div class="row">
            {% for top in topic %}
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card bg-light mb-3" >
                    <h3 class="card-header">{{topic[top]['h1']}}</h3>
                        <div class="card-body" >
                            <div  style="  background-color: #E6E4E4; ;margin:1px; padding:15px;display: flex;justify-content: space-between;align-items: center;"><h5 class="card-title">{{topic[top]['q1']}}</h5>
                            <a href="{{topic[top]['link']}}" class="btn btn-primary">Practice</a></div>
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
