{% extends "layout.html" %}
{% block title %}Q1{% endblock %}
{% block style %}
.project {
  width: 400px;
  margin-bottom: 1em;
}
  .project > div {
    display: inline-block;
    margin: 0 -5px 0 0;
    vertical-align: middle;
  }
.task {
  width: 33rem;
  height: 8rem;
  border: .4em solid #E4E4E7;
  background: #E4E4E7;
  border-radius: 100%;
}
.progress {
  width: calc( 50% - 3em);
  height: .6em;
  padding: .2em 0;
  background: #E4E4E7;
  position: relative;
}
  .progress>div {
    height: .2em;
    left: -.4em;
    right: -.4em;
    position: absolute;
  }
.pending { background: #F8AC59; }
.running { background: #1C84C6; }
.passed { background: #1AB394; }
.failed { background: #ED5565; }
{% endblock %}

{% block script %}
$(function() {
	$('.progress>div').each(function() {
  	$(this).css('width', $(this).data('progress') );
  });
})

var x = document.getElementsByClassName("correct");
var y = document.getElementsByClassName("wrong");

var feedcount = 0;

const check0=()=>
{
	if(document.getElementsByTagName("input")[0].value == {{ answer.lcm }} )
	{
	   $(x[0]).show();
       $(y[0]).hide();
document.getElementById("icon1").style.display="inline";

    }
	 else
	 {
	    feedcount++;
        $(x[0]).hide();
        $(y[0]).show();
	    document.getElementsByTagName("input")[0].value = "";
	    swal(
	    {
          title: "Oops, Looks like you are not familiar with LCM ",
          text: "for example,  LCM of 5 and 6 is 30.",
          icon: "error",
          button: true,
          dangerMode: true,
        }
       )
        .then((willDelete) => {
          if (willDelete) {
            swal("Now, try again", {

              icon: "success",
            });
          }
        });
	 }
}

function check1()
{
	if(document.getElementsByTagName("input")[1].value == {{ answer.num1 }} )
	{
	    $(x[1]).show();
	    $(y[1]).hide();
    }
	 else
	 {
	    feedcount++;
	    $(x[1]).hide();
        $(y[1]).show();
	    document.getElementsByTagName("input")[1].value = "";
	    swal({
  title: "Oops, Looks like you multiplied wrong ",
  text: "To get numerator, multipliy it with multiplication factor i.e. lcm/denominator",
  icon: "error",
  button: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("Now try again", {
      icon: "success",
    });
  }
});
	 }
}

function check2()
{
	if(document.getElementsByTagName("input")[2].value == {{ answer.den1 }})
	{
	   $(x[2]).show();
	   $(y[2]).hide();
	  }
	else
	{
	    feedcount++;
	    $(x[2]).hide();
        $(y[2]).show();
        document.getElementsByTagName("input")[2].value = "";
        swal({
  title: "Oops, Looks like you are confused",
  text: "Denominator would be same as LCM",
  icon: "error",
  button: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("Now try again", {
      icon: "success",
    });
  }
});
    }
}

function check3()
{
	if(document.getElementsByTagName("input")[3].value == {{ answer.num2 }})
	{
      $(x[3]).show();
      $(y[3]).hide();
	}
	else
	{
	    feedcount++;
	    $(x[3]).hide();
      $(y[3]).show();
	    document.getElementsByTagName("input")[3].value = "";
	    swal({
  title: "Oops, Looks like you multiplied wrong ",
  text: "To get numerator, multipliy it with multiplication factor i.e. lcm/denominator",
  icon: "error",
  button: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("Now try again", {
      icon: "success",
    });
  }
});
	}
}

function check4()
{
	if(document.getElementsByTagName("input")[4].value == {{ answer.den2 }})
	{
        $(x[4]).show();
	    $(y[4]).hide();
	}
	else
	{
	    feedcount++;
	    $(x[4]).hide();
        $(y[4]).show();
	    document.getElementsByTagName("input")[4].value = "";
	    swal({
  title: "Oops, Looks like you are confused",
  text: "Denominator is same as LCM",
  icon: "error",
  button: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("Now try again", {
      icon: "success",
    });
  }
});
	}
}

function check5()
{
	if(document.getElementsByTagName("input")[5].value == {{ answer.ans }})
	{
    
        $(x[5]).show();
	    $(y[5]).hide();
document.getElementsByClassName("task")[2].innerHTML="Done";
	}
	else
	{
	    feedcount++;
	    $(x[5]).hide();
        $(y[5]).show();
	    document.getElementsByTagName("input")[5].value = "";
	    swal({
  title: "Oops, Looks like you are confused in the format",
  text: "Denominator in mixed fraction is same as denominator of fraction ",
  icon: "error",
  button: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("Now try again", {
      icon: "success",
    });
  }
});
	}
}
function right1(){
    document.getElementsByClassName("ryt1")[0].style.display="inline";
    document.getElementsByClassName("ryt1")[1].style.display="inline";
    document.getElementById("btn1").innerHTML="Find Equivalent";
    document.getElementById("btn2").innerHTML="Simplest Form";
    document.getElementById("btn3").innerHTML="Compare Denominators";
    document.getElementById("btn4").innerHTML="Compare Numerators";
}
function right2(){
    if(document.getElementById("btn1").innerHTML==="Find Equivalent"){
        document.getElementsByClassName("ryt2")[0].style.display="block";
        document.getElementsByClassName("ryt2")[1].style.display="inline";
        document.getElementsByClassName("ryt2")[2].style.display="block";
        document.getElementsByClassName("ryt2")[3].style.display="block";
        document.getElementsByClassName("ryt2")[4].style.display="block";
        document.getElementsByClassName("ryt2")[5].style.display="inline";
        document.getElementsByClassName("ryt2")[6].style.display="block";
        document.getElementsByClassName("ryt2")[7].style.display="block";
    }
else{
 alert("Wrong Option");
}
}

window.onload = function() {
var count = 0;

var countButton = document.getElementById("hint-btn");
var displayCount = document.getElementsByClassName("showhints");
countButton.onclick = function(){
  count++;
  if(count == 1)
  {
  document.getElementById("btn-grp1").style.visibility="visible";
  }
  else
  {
    if(count == 2) {displayCount[1].innerHTML = "Hint 2 :{{ hints.h2 }}\n" ;}
    else {displayCount[2].innerHTML = "Hint 3 :{{ hints.h3 }}\n" ;}
  }
  }

  var subbutton = document.getElementById("b1");
  subbutton.onclick = function(){
     document.querySelector(".myform").setAttribute("action","score/"+1+"/"+count+"/"+feedcount);
     function time(){
     var s=document.getElementById("scre");
     s.style.display="none";
     }
     var d=setTimeout(time,500);
     clearInterval(d);
<!-- setTimeout(function(){s.style.display="none";},500);-->

  }
}

function openSlideMenu()
{
    document.getElementById('menu').style.width = '250px';
    document.getElementById('content').style.marginLeft = '250px';
}

function closeSlideMenu()
{
    document.getElementById('menu').style.width = '0px';
    document.getElementById('content').style.marginLeft = '0px';
}


var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(time,100);
    function time(){
     var s=document.getElementById("scre");
     alert("Bhavya");
     s.style.display="none";
    }
  }
}

{% endblock %}

{% block message %} 
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
<div class="alert alert-info" role="alert" id="scre">
     <span class="closebtn">&times;</span>
    {% for message in get_flashed_messages() %}
  <h4 class="alert-heading">{{ message }}</h4>
    {% endfor %}
</div>
  {% endif %}
{% endwith %}
</div>
{% endblock %}


    {% block progress %}{{scoredict.tcp}}%{% endblock %}
    {% block question %}{{scoredict.totalqts}}{% endblock %}
    {% block pvalue %}{{ scoredict.tcp }}{% endblock %}
{% block content %}
<!--<div class="project">-->
<!--  <div class="task pending"></div>-->
<!--  <div class="progress"><div> </div> </div>-->
<!--  <div class="task"></div>-->
<!--  <div class="progress"><div> </div></div>-->
<!--  <div class="task"></div>-->
<!--</div>-->

<div class="project">
    <div style="display:flex;justify-content:center;align-items:center;">
  <div class="task running ">
      <i class="far fa-check" id="icon1" style="display:none;color:white;margin:auto;"></i>
  </div>
        <div class="progress">
            <div class="running" data-progress="100%"> </div> </div>
  <div  class="task running"></div>
  <div class="progress"  ><div class="running" data-progress="100%"> </div></div>
        <div class="task running"></div></div>
</div>

<!--<div class="project">-->
<!--  <div class="task passed"></div>-->
<!--  <div class="progress"><div class="passed"> </div> </div>-->
<!--  <div class="task passed"></div>-->
<!--  <div class="progress"><div class="passed"> </div></div>-->
<!--  <div class="task passed"></div>-->
<!--</div>-->

<!--<div class="project">-->
<!--  <div class="task failed"></div>-->
<!--  <div class="progress"><div> </div> </div>-->
<!--  <div class="task"></div>-->
<!--  <div class="progress"><div> </div></div>-->
<!--  <div class="task"></div>-->
<!--</div>-->

<!--<div class="project">-->
<!--  <div class="task passed"></div>-->
<!--  <div class="progress"><div class="passed"> </div> </div>-->
<!--  <div class="task passed"></div>-->
<!--  <div class="progress"><div class="passed"> </div></div>-->
<!--  <div class="task passed"></div>-->
<!--</div>-->

<!--<div class="project">-->
<!--  <div class="task failed"></div>-->
<!--  <div class="progress"><div class="failed"> </div> </div>-->
<!--  <div class="task failed"></div>-->
<!--  <div class="progress"><div> </div></div>-->
<!--  <div class="task"></div>-->
<!--</div>-->
    {{ answer.que }}
    <br><br>
     <div class="btn-group btn-group-vertical" id="btn-grp1" role="group" aria-label="Basic example" style="float:right; margin-right:120px;visibility:hidden;">
          <button type="button" class="btn btn-primary" style="margin-bottom:30px;" id="btn1" onclick="right2();">HCF</button>
          <button type="button" class="btn btn-secondary" style="margin-bottom:30px;" id="btn2">Average</button>
          <button type="button" class="btn btn-secondary" style="margin-bottom:30px;" onclick="right1();" id="btn3">LCM</button>
        <button type="button" class="btn btn-secondary" style="margin-bottom:30px;" id="btn4">Multiply</button>
</div>

    <label for="quo1" style="display:none;" class="ryt1">LCM:</label>
    <input type="text" id="quo1" name="quo" maxlength="8" size="2" onblur="check0();" class="ryt1" style="display:none;">
    <img src="{{ url_for('static', filename='images/tick.png') }}" width="32px" height="22px" class="correct">
    <img src="{{ url_for('static', filename='images/cross.jpg') }}" width="32px" height="22px" class="wrong">
    <br><br>

    <label for="rem1" class="ryt2" style="display:none;">Equivalent fraction of {{ answer.f1 }}</label>
    <input type="text" class="ryt2" id="rem1" name="rem" maxlength="8" size="2" onblur="check1();" style="display:none;">
    <img src="{{ url_for('static', filename='images/tick.png') }}" width="32px" height="22px" class="correct" >
    <img src="{{ url_for('static', filename='images/cross.jpg') }}" width="32px" height="22px" class="wrong">
    <h5 style="display:none;" class="ryt2">---------------</h5>
    <input type="text" class="ryt2" id="rem2" name="rem" maxlength="8" size="2" onblur="check2();" style="display:none;">
    <img src="{{ url_for('static', filename='images/tick.png') }}" width="32px" height="22px" class="correct" >
    <img src="{{ url_for('static', filename='images/cross.jpg') }}" width="32px" height="22px" class="wrong">
    <br>

    <label for="rem3" class="ryt2" style="display:none;">Equivalent fraction of {{ answer.f2 }}</label>
    <input type="text" id="rem3" name="rem" maxlength="8" size="2" onblur="check3();" class="ryt2" style="display:none;">
<img src="{{ url_for('static', filename='images/tick.png') }}" width="32px" height="22px" class="correct" >
    <img src="{{ url_for('static', filename='images/cross.jpg') }}" width="32px" height="22px" class="wrong">
    <h5 style="display:none;" class="ryt2">---------------</h5>

    <input type="text" id="rem4" name="rem" maxlength="8" size="2" onblur="check4();" class="ryt2" style="display:none;">
    <img src="{{ url_for('static', filename='images/tick.png') }}" width="32px" height="22px" class="correct">
    <img src="{{ url_for('static', filename='images/cross.jpg') }}" width="32px" height="22px" class="wrong">
    <br>

    <label for="quo2">Solution : </label>
    {{ answer.f1 }}
    <input type="text" id="quo2" name="quo" maxlength="8" size="2" onblur="check5();">{{ answer.f2 }}
    <img src="{{ url_for('static', filename='images/tick.png') }}" width="32px" height="22px" class="correct">
    <img src="{{ url_for('static', filename='images/cross.jpg') }}" width="32px" height="22px" class="wrong">
    <br><br>

{% endblock %}