{% extends "layout_new.html" %}
    {% block style %}
    
      .quo {
        display: inline;
        width: 6%;
        height: calc(1.5em + .75rem + -6px);
      }

      #error {
            border:2pt solid red;
        }

      #right {
        border:2pt solid green
      }
      
.project {
  width: 400px;
  margin-bottom: 1em;
}
  .project > div {
    display: inline-block;
    margin: 0 -5px 0 0;
    vertical-align: middle;
  }
h2{
    padding:17px;
}
.task {
  width: 42rem;
  height: 7rem;
  border: .4em solid #E4E4E7;
  background: #E4E4E7;
  border-radius: 100%;
}
.progress {
  width: calc( 50% - 3em);
  height: .6em;
  padding: .2em 0;
  background: #E4E4E7;
  position: relative;
}
  .progress>div {
    height: .2em;
    left: -.4em;
    right: -.4em;
    position: absolute;
  }
.pending { background: #F8AC59; }
.running { background: #1C84C6; }
.passed { background: #1AB394; }
.failed { background: #ED5565; }
{% endblock %}

{% block script %}

var x = document.getElementsByClassName("correct");
var y = document.getElementsByClassName("wrong");
var feedcount = 0;

function check0()
{
	if(document.getElementsByTagName("input")[0].value == {{ answer.b0 }})
	{
	   $(x[0]).show();
     $(y[0]).hide();
     $(x[0]).css("display","inline-block");
     document.getElementsByClassName("step0")[0].classList.add("active");
    }
	 else
	 {
    if(document.getElementsByTagName("input")[0].value!=""){
       feedcount++;
              $(x[0]).hide();
              $(y[0]).show();
            document.getElementsByTagName("input")[0].value = "";
            swal({
              title: "Oops, Looks like you divided wrong ",
              text: "for example, if you divide 9/4 then quotient is 2 and remainder is 9-(4*2) = 1",
              icon: "error",
              button: true,
              dangerMode: true,
            })
            .then((willDelete) => {
              if (willDelete) {
                swal("Now try again", {
                  icon: "success",
                });
              }
            });
    }
	 }
}

function check1()
{
	if(document.getElementsByTagName("input")[1].value == {{ answer.b1 }})
	{
    $(x[1]).css("display","inline-block");
    document.getElementsByClassName("step0")[1].classList.add("active");
    document.getElementsByTagName("h2")[1].innerHTML="";
    document.getElementById("icon2").style.display="inline";
      $(y[1]).hide();
    }
	 else
	 {
    if(document.getElementsByTagName("input")[1].value!=""){
          feedcount++;
              $(x[1]).hide();
                $(y[1]).show();
              document.getElementsByTagName("input")[1].value = "";
              swal({
          title: "Oops, Looks like you divided wrong ",
          text: "for example, if you divide 9/4 then quotient is 2 and remainder is 9-(4*2) = 1",
          icon: "error",
          button: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            swal("Now try again", {
              icon: "success",
            });
          }
        });
      }
	 }
}

function check2()
{
	if(document.getElementsByTagName("input")[3].value == {{ answer.b2 }})
	{
	   $(x[3]).show();
	   $(y[3]).hide();
	  }
	else
	{
    if(document.getElementsByTagName("input")[3].value!=""){
      feedcount++;
              $(x[3]).hide();
                $(y[3]).show();
                document.getElementsByTagName("input")[3].value = "";
                swal({
          title: "Oops, Looks like you are confused in the format",
          text: "Whole number in mixed fraction is the quotient you got in the first step",
          icon: "error",
          button: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            swal("Now try again", {
              icon: "success",
            });
          }
        });
      }
    }
}

function check3()
{
	if(document.getElementsByTagName("input")[2].value == {{ answer.b3 }})
	{
         $(x[2]).show();
	     $(y[2]).hide();
	}
	else
	{
  if(document.getElementsByTagName("input")[2].value!=""){
      feedcount++;
            $(x[2]).hide();
              $(y[2]).show();
            document.getElementsByTagName("input")[2].value = "";
            swal({
        title: "Oops, Looks like you are confused in the format",
        text: "In mixed fraction, numerator is remainder you got in first step",
        icon: "error",
        button: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
          swal("Now try again", {
            icon: "success",
          });
        }
      });
    }
	}
}

function check4()
{
	if(document.getElementsByTagName("input")[4].value == {{ answer.b4}})
	{
        $(x[4]).show();
	    $(y[4]).hide();
        document.getElementsByClassName("step0")[0].classList.add("active");
        document.getElementsByClassName("step0")[1].classList.add("active");
        document.getElementsByClassName("step0")[2].classList.add("active");
      document.getElementById("icon4").style.display="inline";
      document.getElementById("icon4").style.color="green";
     document.getElementsByTagName("h2")[0].innerHTML="";
     document.getElementsByTagName("h2")[1].innerHTML="";
     <!-- document.getElementsByTagName("h2")[2].innerHTML=""; -->
       document.getElementById("icon1").style.display="inline";
       document.getElementById("icon2").style.display="inline";
       document.getElementById("icon3").style.display="inline";
    }
	else
	{
    if(document.getElementsByTagName("input")[4].value != ""){
      $(x[4]).hide();
        $(y[4]).show();
	    document.getElementsByTagName("input")[4].value = "";
	    swal({
  title: "Oops, Looks like you are confused in the format",
  text: "Denominator in mixed fraction is same as denominator of fraction ",
  icon: "error",
  button: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("Now try again", {
      icon: "success",
    });
  }
});

    }
	   
	    
	}
}

function right1(){
  <!--    document.getElementsByClassName("ryt1")[0].style.display="inline";-->
  if(document.getElementById("btn2").innerHTML==="Divide and write quotient"){
    $("#myModal").modal('hide');  
    document.getElementsByClassName('line1')[0].style.display = 'block';
      document.getElementById("btn1").innerHTML="subtract denominator from numerator";
      document.getElementById("btn2").innerHTML="subtract quotient from numerator";
      document.getElementById("btn3").innerHTML="subtract denominator from denominator";
      document.getElementById("btn4").innerHTML="write remainder";
  }
}
  function right2(){
      if(document.getElementById("btn4").innerHTML==="write remainder"){
          $("#myModal").modal('hide');
          document.getElementById("hint-btn").disabled = true;
          document.getElementById("hint-btn").style.backgroundColor = "grey";
          document.getElementsByClassName('line1')[1].style.display = 'block';
      }
  }

{% endblock %}
{% block chapter %}Fraction{% endblock %} 
{% block topic %}Mixed Fraction{% endblock %}

{% block hint %}
  <button class="btn btn-info" id = "btn1" style="width: 100%; margin: 10px auto;">Subtract denominator from numerator</button>
  <button class="btn btn-info" id = "btn2" style="width: 100%; margin: 10px auto;" onclick="right1();">Divide and write quotient</button>
  <button class="btn btn-info" id = "btn3" style="width: 100%; margin: 10px auto;">Find equivalent fraction</button>
  <button class="btn btn-info" id = "btn4" style="width: 100%; margin: 10px auto;" onclick="right2();">Divide and write remainder</button>
{% endblock %}


{% block content %}

<h5 class="card-title">{{ answer.que }}</h5>



<div class="line1" style="display: none;">
    <label for="quo" >Quotient:</label>
    <input type="text" id="quo" name="quo" maxlength="2" size="2" onblur="check0();">
    <i class="fal fa-check correct fa-2x" style="display: none; color: green;"></i>
    <i class="fal fa-times wrong fa-2x" style="display: none; color: red"></i>
    <!-- <img src="{{ url_for('static', filename='images/tick.png') }}" width="32px" height="22px" class="correct" style="display: none;">
    <img src="{{ url_for('static', filename='images/cross.jpg') }}" width="32px" height="22px" class="wrong" style="display: none;"> -->
    <br><br>
</div>

<div class="line1" style="display: none;">
    <label for="rem">Remainder:</label>
    <input type="text" id="rem" name="rem" maxlength="2" size="2" onblur="check1();">
    <i class="fal fa-check correct fa-2x" style="display: none; color: green;"></i>
    <i class="fal fa-times wrong fa-2x" style="display: none; color: red"></i>
    <br><br>
  </div>
    <label for="mf1">Mixed Fraction:</label>
    <br>
    <table>
        <tr>
<!--               numerator-->
            <td></td>
            <td><input type="text" id="mf2" name="mf" maxlength="2" size="2" onblur="check3();" required></td>
           <td><i class="fal fa-check correct fa-2x" style="display: none; color: green;"></i></td>
            <td><i class="fal fa-times wrong fa-2x" style="display: none; color: red"></i></td>
        </tr>

        <tr>

<!--                mixed fraction-->
            <td><input type="text" id="mf1" name="mf" maxlength="2" size="2" onblur="check2();"required></td>
            <td><hr/></td>
            <td><i class="fal fa-check correct fa-2x" style="display: none; color: green;"></i></td>
            <td><i class="fal fa-times wrong fa-2x" style="display: none; color: red"></i></td>

        </tr>

        <tr>
<!--                denominator-->
            <td></td>
            <td><input type="text" id="mf3" name="mf" maxlength="2" size="2"  onblur="check4();" required></td>
            <td><i class="fal fa-check correct fa-2x" style="display: none; color: green;"></i></td>
            <td><i class="fal fa-times wrong fa-2x" style="display: none; color: red"></i></td>
        </tr>
    </table>
    <br><br>
{% endblock %}

