{% extends "layout_new.html" %}
    {% block style %}
    
      .quo {
        display: inline;
        width: 6%;
        height: calc(1.5em + .75rem + -6px);
      }

      #error {
            border:2pt solid red;
        }

      #right {
        border:2pt solid green
      }
      
.project {
  width: 400px;
  margin-bottom: 1em;
}
  .project > div {
    display: inline-block;
    margin: 0 -5px 0 0;
    vertical-align: middle;
  }
h2{
    padding:17px;
}
.task {
  width: 42rem;
  height: 7rem;
  border: .4em solid #E4E4E7;
  background: #E4E4E7;
  border-radius: 100%;
}
.progress {
  width: calc( 50% - 3em);
  height: .6em;
  padding: .2em 0;
  background: #E4E4E7;
  position: relative;
}
  .progress>div {
    height: .2em;
    left: -.4em;
    right: -.4em;
    position: absolute;
  }
.pending { background: #F8AC59; }
.running { background: #1C84C6; }
.passed { background: #1AB394; }
.failed { background: #ED5565; }
{% endblock %}

{% block script %}

var x = document.getElementsByClassName("correct");
var y = document.getElementsByClassName("wrong");
var feedcount = 0;

function check_num1()
{
    if(document.getElementsByTagName("input")[0].value == {{ answer.num }} )
	{
	   $(x[0]).show();
     
       $(y[0]).hide();
       $(x[0]).style.display="block";

     
    }
	 else
	 {
    if(document.getElementsByTagName("input")[0].value!=""){
          feedcount++;
            $(x[0]).hide();
            $(y[0]).show();
          document.getElementsByTagName("input")[0].value = "";
          swal(
          {
              title: "Oops, Looks like you are not familiar with Normal Form format ",
              text: "for example, Num will be Den * Whole + Num .",
              icon: "error",
              button: true,
              dangerMode: true,
            }
          )
            .then((willDelete) => {
              if (willDelete) {
                swal("Now, try again", {

                  icon: "success",
                });
              }
            });
    }
	 }
}
function check_den1()
{
    if(document.getElementsByTagName("input")[1].value == {{ answer.den }} )
	{
        document.getElementsByClassName("step0")[0].classList.add("active");
    
	   $(x[1]).show();
       $(y[1]).hide();
       $(x[1]).style.display="block";
     document.getElementsByTagName("h2")[0].innerHTML="";
     document.getElementById("icon1").style.display="inline";
       
    }
	 else
	 {
     if(document.getElementsByTagName("input")[1].value!=""){
	    feedcount++;
        $(x[1]).hide();
        $(y[1]).show();
	    document.getElementsByTagName("input")[1].value = "";
	    swal(
	    {
          title: "Oops, Looks like you are not familiar with Normal Form format ",
          text: "for example, Num will be Den * Whole + Num and den will be same as Den.",
          icon: "error",
          button: true,
          dangerMode: true,
        }
       )
        .then((willDelete) => {
          if (willDelete) {
            swal("Now, try again", {

              icon: "success",
            });
          }
        });
      }
	 }
}

function check_num2()
{
    if(document.getElementsByTagName("input")[2].value == {{ answer.num_ans }} )
	{
        
        document.getElementsByClassName("step0")[0].classList.add("active");
        document.getElementsByClassName("step0")[1].classList.add("active");
    
	   $(x[2]).show();
       $(y[2]).hide();
    }
	 else
	 {
     if(document.getElementsByTagName("input")[2].value!=""){
	    feedcount++;
        $(x[2]).hide();
        $(y[2]).show();
	    document.getElementsByTagName("input")[2].value = "";
	    swal(
	    {
          title: "Oops, Looks like you are not able write Simplest Form ",
          text: "for example,  Simplest Form of 30/15 is 2/1.",
          icon: "error",
          button: true,
          dangerMode: true,
        }
       )
        .then((willDelete) => {
          if (willDelete) {
            swal("Now, try again", {

              icon: "success",
            });
          }
        });
     }
	 }
}
function check_den2()
{
    if(document.getElementsByTagName("input")[3].value == {{ answer.den_ans }} )
	{
	   $(x[3]).show();
       $(y[3]).hide();
       document.getElementsByClassName("step0")[0].classList.add("active");
       document.getElementsByClassName("step0")[1].classList.add("active");
       document.getElementsByClassName("step0")[2].classList.add("active");
    
       document.getElementById("icon4").style.display="inline";
       document.getElementById("icon4").style.color="green";
      document.getElementsByTagName("h2")[0].innerHTML="";
      document.getElementsByTagName("h2")[1].innerHTML="";
      document.getElementsByTagName("h2")[2].innerHTML="";
        document.getElementById("icon1").style.display="inline";
        document.getElementById("icon2").style.display="inline";
        document.getElementById("icon3").style.display="inline";
      }
	 else
	 {
     if(document.getElementsByTagName("input")[3].value!=""){
	    feedcount++;
        $(x[3]).hide();
        $(y[3]).show();
	    document.getElementsByTagName("input")[3].value = "";
	    swal(
	    {
        title: "Oops, Looks like you are not able write Simplest Form ",
        text: "for example,  Simplest Form of 30/15 is 2/1.",
        icon: "error",
          button: true,
          dangerMode: true,
        }
       )
        .then((willDelete) => {
          if (willDelete) {
            swal("Now, try again", {

              icon: "success",
            });
          }
        });
     }
    }
   
}
function right1(){
    if(document.getElementById("btn3").innerHTML==="LCM"){
        $("#myModal").modal('hide');
        document.getElementById("hint-btn").disabled = true;
        document.getElementById("hint-btn").style.backgroundColor = "grey";
    document.getElementsByClassName("fbox")[0].style.display="block";
    document.getElementsByClassName("fbox")[1].style.display="inline";
    document.getElementsByClassName("fbox")[2].style.display="block";
    document.getElementsByClassName("fbox")[3].style.display="inline";
    }
}

{% endblock %}
{% block chapter %}Fraction{% endblock %} 
{% block topic %}Normal Form{% endblock %}

{% block hint %}
  <button class="btn btn-info" id = "btn1" style="width: 100%; margin: 10px auto;">HCF</button>
  <button class="btn btn-info" id = "btn2" style="width: 100%; margin: 10px auto;" >NF</button>
  <button class="btn btn-info" id = "btn3" style="width: 100%; margin: 10px auto;" onclick="right1();" id="btn3">LCM</button>
  <button class="btn btn-info" id = "btn4" style="width: 100%; margin: 10px auto;">Multiply</button>
{% endblock %}

{% block content %}

<h5 class="card-title">{{ answer.que }}</h5>
    <div class="ryt1" style="">
    <!-- <label for="mf1">Mixed Fraction:</label>
    <br>
    
        <tr >
<!--               whole+numerator-->
            <!-- <td ><span style="font-size:4.3rem;">(</span><input type="text" id="mf0" name="mf" maxlength="2" size="2" onblur="check0();" class="quo" required>*</td>
            <td><input type="text" id="mf1" name="mf" maxlength="2" size="2" onblur="check1();" class="quo" required><span style="font-size:4.3rem;">)</span></td>
            <td>+</td>
            <td><input type="text" id="mf2" name="mf" maxlength="2" size="2" onblur="check2();" class="quo" required style="margin-top:25px;"></td>
            <td><img src="{{ url_for('static', filename='images/tick.png') }}" width="50px" height="50px" class="correct"></td>
            <td><img src="{{ url_for('static', filename='images/cross.jpg') }}" width="50px" height="50px" class="wrong"></td>
        </tr>

        <tr> -->
<!--                hr line-->
            <!-- <td><hr></td>
            <td><hr/></td>
            <td><hr/></td>
            <td><hr/></td> -->
<!--            <td><img src="{{ url_for('static', filename='images/tick.png') }}" width="50px" height="50px" class="correct"></td>-->
<!--            <td><img src="{{ url_for('static', filename='images/cross.jpg') }}" width="50px" height="50px" class="wrong"></td>-->

        <!-- </tr> --> 


    <label for="spf" style="display:none" class="fbox">Normal Form : </label>
    <input type="text" id="spf" name="rem" maxlength="8" size="2" class="num fbox" onblur="check_num1();" style="display: none;" required >
    <i class="fal fa-check correct fa-2x" style="display: none; color: green;"></i>
    <i class="fal fa-times wrong fa-2x" style="display: none; color: red"></i>
    <h5 class="fbox" style="display: none;">-------</h5>
    <input type="text" id="rem4" name="rem" maxlength="8" size="2" class="den fbox" onblur="check_den1();" style="display: none;" required>
    <i class="fal fa-check correct fa-2x" style="display: none; color: green;"></i>
    <i class="fal fa-times wrong fa-2x" style="display: none; color: red"></i>
    <br><br>


      <label for="quo3" style="display:block">Solution : </label>
    <input type="text" id="quo3" name="rem" maxlength="8" size="2" class="num" onblur="check_num2();" required >
    <i class="fal fa-check correct fa-2x" style="display: none; color: green;"></i>
    <i class="fal fa-times wrong fa-2x" style="display: none; color: red"></i>
    <h5 >-------</h5>
    <input type="text" id="rem4" name="rem" maxlength="8" size="2" class="den" onblur="check_den2();" required>
    <i class="fal fa-check correct fa-2x" style="display: none; color: green;"></i>
    <i class="fal fa-times wrong fa-2x" style="display: none; color: red"></i>
    <br><br>

</div>

    <br><br>

{% endblock %}