{% extends "layout.html" %}
{% block title %}Q1{% endblock %}

{% block script %}
var x = document.getElementsByClassName("correct");
var y = document.getElementsByClassName("wrong");
var feedcount = 0;

var ans = [{{ answer.ans[0] }}, {{ answer.ans[1] }}, {{ answer.ans[2] }}, {{ answer.ans[3] }}, {{ answer.ans[4] }} ];

function check(i)
{
	if(document.getElementsByTagName("input")[i].value == ans[i])
	{
	    $(x[i]).show();
	    $(y[i]).hide();
    }
	 else
	 {
	    feedcount++;
	    $(x[i]).hide();
        $(y[i]).show();
	    document.getElementsByTagName("input")[i].value = "";
	    swal({
  title: "Oops, Looks like you multiplied wrong ",
  text: "To get numerator, multipliy it with multiplication factor i.e. lcm/denominator",
  icon: "error",
  button: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    swal("Now try again", {
      icon: "success",
    });
  }
});
	 }
}


window.onload = function() {
    var count = 0;
    var countButton = document.getElementById("hint-btn");
    var displayCount = document.getElementsByClassName("showhints");
    countButton.onclick = function(){
      count++;
      if(count == 1)
      {
      displayCount[0].innerHTML = "Hint 1 :{{ hints.h1 }}\n" ;
      }
      else
      {
        if(count == 2) {displayCount[1].innerHTML = "Hint 2 :{{ hints.h2 }}\n" ;}
        else {displayCount[2].innerHTML = "Hint 3 :{{ hints.h3 }}\n" ;}
      }
    }
    
      var subbutton = document.getElementById("b1");
      subbutton.onclick = function(){
         document.querySelector(".myform").setAttribute("action","score/"+1+"/"+count+"/"+feedcount);
         function time(){
         var s=document.getElementById("scre");
         s.style.display="none";
         }
         var d=setTimeout(time,500);
         clearInterval(d);
      }
    }
{% endblock %}

{% block message %} 
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
<div class="alert alert-info" role="alert" id="scre">
     <span class="closebtn">&times;</span>
    {% for message in get_flashed_messages() %}
  <h4 class="alert-heading">{{ message }}</h4>
    {% endfor %}
</div>
  {% endif %}
{% endwith %}
</div>
{% endblock %}

    {% block progress %}{{scoredict.pct}}%{% endblock %}
    {% block question %}{{scoredict.totalqts}}{% endblock %}
    {% block pvalue %}{{ scoredict.pct }}{% endblock %}

{% block content %}
    {{ answer.que }}
    <br><br>
    {% for i in range(5) %}
    <label for="">{{ labels.labels[i] }}</label>
    <input type="text" class="mf3" name="quo" maxlength="2" size="2" onblur="check({{ i }});" required>
    <img src="{{ url_for('static', filename='images/tick.png') }}" width="32px" height="22px" class="correct">
    <img src="{{ url_for('static', filename='images/cross.jpg') }}" width="32px" height="22px" class="wrong">
    <br><br>
    {% endfor %}

    
{% endblock %}  
