{% extends "layout_new_easy.html" %}
{% block chapter%}Fraction{% endblock %}
{% block topic %}{{ easy.topic }}{% endblock %}

{% block script %}

var x = document.getElementsByClassName("correct");
var y = document.getElementsByClassName("wrong");
var feedcount = 0;

function check_num()
{
  if(document.getElementsByTagName("input")[0].value == {{ answer.num_ans }} )
	{
	  alert("Correct");
    document.getElementsByClassName("step0")[0].classList.add("active");
    document.getElementsByClassName("step0")[1].classList.add("active");
  }
	else
	{
	    document.getElementsByTagName("input")[0].value = "";
      alert("Try again");
	    
	}
}
function check_den()
{
  if(document.getElementsByTagName("input")[1].value == {{ answer.den_ans }} )
	{
	  alert("Correct");
    document.getElementsByClassName("step0")[2].classList.add("active");
    document.getElementsByClassName("step0")[3].classList.add("active");

  }
	else
	{
	  document.getElementsByTagName("input")[1].value = "";
	  alert("Try again");
	}
}

{% endblock %}



{% block content %}
    <h5 class="card-title">{{ answer.que }}</h5>
  
    <label for="quo3" style="display:block">Solution : </label>
    <input type="text" id="quo3" name="rem" maxlength="8" size="2" class="num" onblur="check_num();" required >
    <h5 >---------</h5>
    <input type="text" id="rem4" name="rem" maxlength="8" size="2" class="den" onblur="check_den();" required>
{% endblock %}

{% block hint %}
  <img src="{{ url_for('static', filename = 'images/frac_simplest_form.png') }}" alt="" style="width: 80%;">
{% endblock %}