{% extends "layout_new.html" %}
    {% block title %}Q1{% endblock %}
    {% block style %}

      .quo {
        display: inline;
        width: 6%;
        height: calc(1.5em + .75rem + -6px);
      }

      #error {
            border:2px solid red;
        }

      #right {
        border:2px solid green
      }

.project {
  width: 400px;
  margin-bottom: 1em;
}
  .project > div {
    display: inline-block;
    margin: 0 -5px 0 0;
    vertical-align: middle;
  }
h2{
    padding:17px;
}
.task {
  width: 42rem;
  height: 7rem;
  border: .4em solid #E4E4E7;
  background: #E4E4E7;
  border-radius: 100%;
}
.progress {
  width: calc( 50% - 3em);
  height: .6em;
  padding: .2em 0;
  background: #E4E4E7;
  position: relative;
}
  .progress>div {
    height: .2em;
    left: -.4em;
    right: -.4em;
    position: absolute;
  }
.pending { background: #F8AC59; }
.running { background: #1C84C6; }
.passed { background: #1AB394; }
.failed { background: #ED5565; }
{% endblock %}

{% block script %}
  var x = document.getElementsByClassName("correct");
  var y = document.getElementsByClassName("wrong");

var feedcount = 0;


function check0()
{
if(document.getElementsByTagName("input")[0].value == {{ answer.coeff[0] }} )
{
   $(x[0]).show();
     $(y[0]).hide();
     document.getElementsByClassName("quo")[0].id = 'right';
  }
else
{
  if(document.getElementsByTagName("input")[0].value !="" ){
    feedcount++;
      $(x[0]).hide();
      $(y[0]).show();
      document.getElementsByClassName("quo")[0].id = 'error';
    // document.getElementsByTagName("input")[0].value = "";
    swal({
      title: "Oops, Looks like you are confused in the format",
      text: "Denominator in mixed fraction is same as denominator of fraction ",
      icon: "error",
      button: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        swal("Now try again", {
          icon: "success",
        });
      }
    });
  }

 }
}

function check1()
{
if(document.getElementsByTagName("input")[1].value == {{ answer.coeff[1] }} )
{
   $(x[0]).show();
    $(y[0]).hide();
    document.getElementsByClassName("quo")[1].id = 'right';
  }
else
{
  if(document.getElementsByTagName("input")[1].value !="" ){
    feedcount++;
      $(x[0]).hide();
      $(y[0]).show();
      document.getElementsByClassName("quo")[1].id = 'error';
    // document.getElementsByTagName("input")[1].value = "";
    swal({
      title: "Oops, Looks like you are confused in the format",
      text: "Denominator in mixed fraction is same as denominator of fraction ",
      icon: "error",
      button: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        swal("Now try again", {
          icon: "success",
        });
      }
    });
  }

 }
}

function check2()
{
  if(document.getElementsByTagName("input")[2].value == {{ answer.coeff[2] }} )
  {
    $(x[0]).show();
    $(y[0]).hide();
    document.getElementsByClassName("quo")[2].id = 'right';
    document.getElementsByClassName("step0")[0].classList.add("active");
    }
  else
  {
    if(document.getElementsByTagName("input")[2].value !="" ){
      feedcount++;
        $(x[0]).hide();
        $(y[0]).show();
        document.getElementsByClassName("quo")[2].id = 'error';
      // document.getElementsByTagName("input")[2].value = "";
      swal({
        title: "Oops, Looks like you are confused in the format",
        text: "Denominator in mixed fraction is same as denominator of fraction ",
        icon: "error",
        button: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
          swal("Now try again", {
            icon: "success",
          });
        }
      });
    }

  }
}

function check3()
{
if(document.getElementsByTagName("input")[3].value == {{ answer.coeff[3] }} )
{
    $(x[0]).show();
    $(y[0]).hide();
    document.getElementsByClassName("quo")[3].id = 'right';
  }
else
{
  if(document.getElementsByTagName("input")[3].value !="" ){
  feedcount++;
    $(x[0]).hide();
    $(y[0]).show();
    document.getElementsByClassName("quo")[3].id = 'error';
  // document.getElementsByTagName("input")[3].value = "";
  swal({
    title: "Oops, Looks like you are confused in the format",
    text: "Denominator in mixed fraction is same as denominator of fraction ",
    icon: "error",
    button: true,
    dangerMode: true,
  })
  .then((willDelete) => {
    if (willDelete) {
      swal("Now try again", {
        icon: "success",
      });
    }
  });
}

 }
}

function check4()
{
if(document.getElementsByTagName("input")[4].value == {{ answer.coeff[4] }} )
{
   $(x[0]).show();
   $(y[0]).hide();
   document.getElementsByClassName("quo")[4].id = 'right';
  }
else
{
  if(document.getElementsByTagName("input")[4].value !="" ){
    feedcount++;
      $(x[0]).hide();
      $(y[0]).show();
      document.getElementsByClassName("quo")[4].id = 'error';
    // document.getElementsByTagName("input")[4].value = "";
    swal({
      title: "Oops, Looks like you are confused in the format",
      text: "Denominator in mixed fraction is same as denominator of fraction ",
      icon: "error",
      button: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        swal("Now try again", {
          icon: "success",
        });
      }
    });
  }

 }
}

function check5()
{
if(document.getElementsByTagName("input")[5].value == {{ answer.coeff[5] }} )
{
      $(x[0]).show();
      $(y[0]).hide();
      document.getElementsByClassName("quo")[5].id = 'right';
      document.getElementsByClassName("step0")[1].classList.add("active");
  }
else
{
  if(document.getElementsByTagName("input")[5].value !="" ){
    feedcount++;
      $(x[0]).hide();
      $(y[0]).show();
      document.getElementsByClassName("quo")[5].id = 'error';
    // document.getElementsByTagName("input")[5].value = "";
    swal({
      title: "Oops, Looks like you are confused in the format",
      text: "Denominator in mixed fraction is same as denominator of fraction ",
      icon: "error",
      button: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        swal("Now try again", {
          icon: "success",
        });
      }
    });
  }

 }
}

function check6()
{
if(document.getElementsByTagName("input")[6].value == {{ answer.x_diff }} )
{
<!--   $(x[1]).show();-->
<!--     $(y[1]).hide();-->
    document.getElementsByClassName("quo")[6].id = 'right';
        $(x[0]).show();
<!--     $(x[1]).style.display="block";-->
$(x[1]).css("display","block");
     document.getElementsByTagName("h2")[0].innerHTML="";
     document.getElementById("icon1").style.display="inline";
       $(y[0]).hide();
}
else
{
  if(document.getElementsByTagName("input")[6].value !="" ){
    feedcount++;
      $(x[0]).hide();
      $(y[0]).show();
      document.getElementsByClassName("quo")[6].id = 'error';
    // document.getElementsByTagName("input")[6].value = "";
    swal({
      title: "Oops, Looks like you are confused in the format",
      text: "Denominator in mixed fraction is same as denominator of fraction ",
      icon: "error",
      button: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        swal("Now try again", {
          icon: "success",
        });
      }
    });
  }
}
}

function check7()
{
if(document.getElementsByTagName("input")[7].value == {{ answer.y_diff }} )
{
<!--   $(x[1]).show();-->
<!--     $(y[1]).hide();-->
    document.getElementsByClassName("quo")[7].id = 'right';
$(x[0]).show();
$(x[1]).css("display","block");
     document.getElementsByTagName("h2")[1].innerHTML="";
     document.getElementById("icon2").style.display="inline";
       $(y[0]).hide();

  }
else
{
  if(document.getElementsByTagName("input")[7].value !="" ){
    feedcount++;
      $(x[0]).hide();
      $(y[0]).show();
      document.getElementsByClassName("quo")[7].id = 'error';
    // document.getElementsByTagName("input")[7].value = "";
    swal({
      title: "Oops, Looks like you are confused in the format",
      text: "Denominator in mixed fraction is same as denominator of fraction ",
      icon: "error",
      button: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        swal("Now try again", {
          icon: "success",
        });
      }
    });
  }
}
}

function check8()
{
if(document.getElementsByTagName("input")[8].value == {{ answer.z_diff }} )
{
<!--   $(x[1]).show();-->
<!--     $(y[1]).hide();-->
    document.getElementsByClassName("quo")[8].id = 'right';
        $(x[0]).show();
       $(y[0]).hide();
       document.getElementsByClassName("step0")[0].classList.add("active");
       document.getElementsByClassName("step0")[1].classList.add("active");
       document.getElementsByClassName("step0")[2].classList.add("active");
       document.getElementById("icon4").style.display="inline";
       document.getElementById("icon4").style.color="green";
      document.getElementsByTagName("h2")[0].innerHTML="";
      document.getElementsByTagName("h2")[1].innerHTML="";
      <!-- document.getElementsByTagName("h2")[2].innerHTML=""; -->
        document.getElementById("icon1").style.display="inline";
        document.getElementById("icon2").style.display="inline";
        document.getElementById("icon3").style.display="inline";
  }
else
{

  if(document.getElementsByTagName("input")[8].value !="" ){
    feedcount++;
      $(x[0]).hide();
      $(y[0]).show();
      document.getElementsByClassName("quo")[8].id = 'error';
    // document.getElementsByTagName("input")[8].value = "";
    swal({
      title: "Oops, Looks like you are confused in the format",
      text: "Denominator in mixed fraction is same as denominator of fraction ",
      icon: "error",
      button: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        swal("Now try again", {
          icon: "success",
        });
      }
    });
  }
}
}
function right1(){
<!--    document.getElementsByClassName("ryt1")[0].style.display="inline";-->
    $("#myModal").modal('hide');
    document.getElementsByClassName('line1')[0].style.display = 'block';
    document.getElementsByClassName('line1')[1].style.display = 'block';
    document.getElementById("hint-btn").disabled = true;
    document.getElementById("hint-btn").style.backgroundColor = "grey";
}

{% endblock %}

{% block chapter %}Algebra{% endblock %}
{% block topic %}Vertical Subtraction{% endblock %}

{% block hint %}
  <button type="button" class="btn btn-secondary" style="margin-bottom:30px;width:100%;" id="btn1">Change sign of Eq1</button>
  <button type="button" class="btn btn-secondary" style="margin-bottom:30px;width:100%;" id="btn2">Write Eq1 & change sign of Eq2</button>
  <button type="button" class="btn btn-secondary" style="margin-bottom:30px;width:100%;" onclick="right1();" id="btn3">Write Eq1 & Eq2</button>
  <button type="button" class="btn btn-secondary" style="margin-bottom:30px;width:100%;" id="btn4">Change sign of Eq2</button>
{% endblock %}


{% block content %}
<h5 class="card-title">{{ answer.que }}</h5>
    <br><br>
    <div class="line1" style="display:none">
        <div style="margin-left:50px;">
      <input type="text" class="quo" name="quo" maxlength="3" size="3" onblur="check0();">{{ answer.varx }}+
      <input type="text" class="quo" name="quo" maxlength="3" size="3" onblur="check1();">{{ answer.vary }}+
      <input type="text" class="quo" name="quo" maxlength="3" size="3" onblur="check2();">{{ answer.varz }}
      <br><br>
    </div>
    </div>
    <div class="line1" style="display:none;">
        <div>
            <h1>-</h1>
        </div>
       <div style="margin-left:50px;">
      <input type="text" class="quo" name="quo" maxlength="3" size="3" onblur="check3();">{{ answer.varx }}+
      <input type="text" class="quo" name="quo" maxlength="3" size="3" onblur="check4();">{{ answer.vary }}+
      <input type="text" class="quo" name="quo" maxlength="3" size="3" onblur="check5();">{{ answer.varz }}
      <!-- <img src="{{ url_for('static', filename='images/tick.png') }}" width="50px" height="50px" class="correct">
      <img src="{{ url_for('static', filename='images/cross.jpg') }}" width="50px" height="50px" class="wrong"> -->
      <br>
      <h1>---------------------</h1>
      <br>
           </div>
    </div>
<div style="margin-left:50px;">
    <input type="text" class="quo" name="quo" maxlength="3" size="3" onblur="check6()" required>{{ answer.varx }}+
    <input type="text" class="quo" name="quo" maxlength="3" size="3" onblur="check7();" required>{{ answer.vary }}+
    <input type="text" class="quo" name="quo" maxlength="3" size="3" onchange="check8();" required>{{ answer.varz }}
    <!-- <img src="{{ url_for('static', filename='images/tick.png') }}" width="50px" height="50px" class="correct">
    <img src="{{ url_for('static', filename='images/cross.jpg') }}" width="50px" height="50px" class="wrong"> -->
    <br><br>
</div>

{% endblock %}